REACT_APP_COMPETITION_NAME=CCDC
REACT_APP_SPONSOR_1_NAME=Google
REACT_APP_SPONSOR_1_LOGO_URL=https://placeholderlogo.com/img/placeholder-logo-1.png
REACT_APP_SPONSOR_1_GROUP=Platinum
REACT_APP_SPONSOR_2_NAME=Apple
REACT_APP_SPONSOR_2_LOGO_URL=https://placeholderlogo.com/img/placeholder-logo-2.png
REACT_APP_SPONSOR_2_GROUP=Gold
